<!-- <div class="col-md-4 col-md-offset-4"> -->
  <h2>修改商品</h2>
  <hr>

<%= simple_form_for [:admin, @product]  do |p| %>

  <!-- 商品名称： -->
  <div class="group">
    <%= p.input :title %>
    <!-- <%= p.text_field :title %> -->
  </div>


  <!-- 描述: -->
  <div class="group">
    <%= p.input :description %>
    <!-- <%= p.text_area :description %> -->
  </div>


  <!-- 价格： -->
  <div class="group">
    <%= p.input :price %>
    <!-- <%= p.text_field :price %> -->
  </div>


  <!-- 数量 -->
  <div class="group">
    <%= p.input :quantity %>
    <!-- <%= p.text_field :quantity%> -->
  </div>


  <!-- 图片如果显示 -->
  <% if @product.image.present? %>
    <span>目前商品图</span> <br>
    <%= image_tag(@product.image.thumb.url) %>
  <% end %>

  
  <div class="group">
    <%= p.input :image, as: :file %>
  </div>

  <br>

  <%= p.submit "Submit", :disable_with => 'submiting...' %>
<% end %>
<!-- </div> -->
